////////////////////////////////////////////////////////////////////////////////
/// /file
/// \brief     Settings file for complex tests.
/// \author    Sergey Shershakov
/// \version   0.1.0
/// \date      18.08.2018
/// \copyright (c) xidv.ru 2014–2018.
///            This source is for internal use only — Restricted Distribution.
///            All rights reserved.
///
/// HOW TO SET A TEST ENVIRONMENT:
/// one need to define PN_TEST_MODELS_BASE_DIR directive to set it to a
/// machine/user specific value
///
////////////////////////////////////////////////////////////////////////////////


#ifndef XI_LDOPA_COMPLEX_COMPLEX_SETTINGS_H_
#define XI_LDOPA_COMPLEX_COMPLEX_SETTINGS_H_


#ifndef PN_TEST_MODELS_BASE_DIR
    #define PN_TEST_MODELS_BASE_DIR "f:/se/projects/cpp/xi/ldopa/dev/root/0.1/tests/gtest/work_files/"
#endif

#ifndef TEST_LOGS_DIR
    #define TEST_LOGS_DIR PN_TEST_MODELS_BASE_DIR##"logs/"
#endif

#ifndef GRMODELS_OUTP_DIR
    #define GRMODELS_OUTP_DIR PN_TEST_MODELS_BASE_DIR##"complex/"
#endif


#endif // XI_LDOPA_COMPLEX_COMPLEX_SETTINGS_H_
